.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}
/*  */
.player-wrapper-facebook {
  position: relative;
  /* padding-top: 80% /* Player ratio: 100 / (4 / 5) */;
  /* overflow: auto; */ 
  padding-top: 60%;
  overflow: auto;
}
 
.react-player {
  position: absolute;
  top: 0;
  left: 0;
}