$blue:            #102A43 !default;
$cyan:            #187583 !default;
$gray-600:        #3c4044 !default;
$green:           #1a702e !default;
$gray-300:        #6c7783 !default;
$font-size-base:    .875rem !default;

$font-family-sans-serif:      "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

.btn:focus{
  box-shadow: none !important;
}



// Any modifications to global styles must come before this import link below
@import '~bootstrap/scss/bootstrap.scss';
